<template>
    <v-card class="d-inline-block mx-auto">
    <v-container>
      <v-row justify="space-between">
        <v-col cols="auto">
          <v-img
            height="200"
            width="200"
            src="../assets/hcmus-image.jpg"
          ></v-img>
        </v-col>
      </v-row>

    <v-row
    class="flex-row ma-0 fill-height"
    justify="center"
    >
    <v-col class="px-0">
        <v-btn icon>
            2 Jobs
        </v-btn>
    </v-col>


    <v-col class="px-0">
        <v-btn icon>
            TP.HCM
        </v-btn>
    </v-col>
    </v-row>

    </v-container>
  </v-card>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>