<template>
  <div>
    <v-card class="mx-auto" max-width="700" min-height="200" style="background-color: #f9f9f9">
      <v-container>
        <v-row justify="space-between">
          
          <v-col v-if="isInCompany === false" cols="2">
            <img height="100" width="100" :src="post.image_company" alt="Avatar" />
          </v-col>

          <v-col :cols="isInCompany ? 12 : 10">
            <v-card-title style="font-size: 1.5rem; display: flex; justify-content: space-between;">
              <div @click="pushtoPost(post.id)" class="PostTitle" style="cursor: pointer;">
                {{post.title}}
              </div>
              <div v-if="!post.is_apply" class="pb-0">
                <v-btn @click="applyPost(post.id)" depressed large color="error">Apply now</v-btn>
              </div>
              <div
                v-if="post.is_apply"
                class="pb-0"
                style="font-size: .875rem; color: green; padding: 5px 15px; border-radius: 5px; user-select: none; background-color: whitesmoke; border: 1px solid lightgray"
              >
                <i class="fas fa-check-circle" style="color: green;" /> Applied
              </div>
            </v-card-title>
            <v-card-subtitle style="font-size: .8rem">
              <div>
                <i class="fas fa-dollar-sign" style="width: 1rem;" />
                {{post.min_salary}} - {{post.max_salary}}
              </div>
              <div>
                <i class="fas fa-map-marker-alt" style="width: 1rem" />
                {{post.city_company}}
              </div>
            </v-card-subtitle>
            <v-card-text>{{post.description}}</v-card-text>
            <v-card-text
              class="pt-0 pb-0"
              style="text-align: right; color: #06c; display: flex; justify-content: space-between; "
            >
              <div>
                <span
                  v-for="(item, index) in post.skills"
                  :key="index"
                  style="color: #575656; border: 1px solid lightgray; font-size: 0.8rem; padding: 2.5px 5px; margin-right: 5px"
                >{{item}}</span>
              </div>
              <div style="font-size: .8rem;">{{post.custom_created_at}} ago</div>
            </v-card-text>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "CardJob",
  props: {
    isInCompany: {
      type: Boolean,
      default: false
    },
    post: {
      type: Object,
      default: null
    },
    applyPost: Function,
    list_applied: Array
  },
  created() {
    this.post.skills = this.post.skills.split(",");
    // eslint-disable-next-line no-console
    console.log(this.post)
  },
  methods: {
    pushtoPost(post_id) {
      this.$router.push(`/post/${post_id}`)
      // eslint-disable-next-line no-console
      console.log('xxx', post_id)
    },
  }
};
</script>

<style lang="scss" scoped>
.PostTitle:hover {
  text-decoration: underline;
}
</style>