<template>
  <div>
    <v-card class="mx-auto" max-width="700" min-height="200" style="background-color: #f9f9f9">
      <v-container>
        <v-row justify="space-between">
          <v-col cols="2">
            <img height="100" width="100" :src="company.image" alt="Avatar" />
          </v-col>

          <v-col cols="10">
            <v-card-title style="font-size: 1.5rem; display: flex; justify-content: space-between;">
              <div @click="pushtoCompany(company.id)" class="CompanyName" style="cursor: pointer;">
                {{company.company_name}}
              </div>
            </v-card-title>
            <v-card-subtitle style="font-size: .8rem">
              <div>
                <i class="fas fa-map-marker-alt" style="width: 1rem" />
                {{company.city}} - {{company.district}} {{company.address}}
              </div>
            </v-card-subtitle>
            <v-card-text>{{company.introduction}}</v-card-text>
            <v-card-text><a :href="company.url_page">{{company.url_page}}</a></v-card-text>
            <v-card-text
              class="pt-0 pb-0"
              style="text-align: right; color: #06c; display: flex; justify-content: space-between; "
            >
              <div style="font-size: .8rem;">{{company.custom_created_at}}</div>
            </v-card-text>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "CardCompany",
  props: {
    company: {
      type: Object,
      default: null
    },
  },
  created() {
  },
  methods: {
    pushtoCompany(company_id) {
      this.$router.push(`/companies-detail/${company_id}`)
    },
  }
};
</script>

<style lang="scss" scoped>
.CompanyName:hover {
  text-decoration: underline;
}
</style>