<template>
  <v-dialog
      v-model="dialog"
      max-width="500"
    >
      <v-card>
        <v-card-title class="headline">{{dialogTitle}}</v-card-title>

        <v-card-text>
          {{dialogContent}}
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            text
            @click="dialog = false"
          >
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: 'Dialog',
        props:{
            dialogTitle: String,
            dialogContent: String,
        },
        data () {
            return {
                dialog: false,
            };
        },
    }
</script>

<style lang="scss" scoped>

</style>