<template>
    <v-footer style="margin-top:50px"
    color="#1185d1"
    padless
  >
    <v-row
      justify="center"
      no-gutters
    >
      <v-btn
        v-for="link in links"
        :key="link"
        color="white"
        text
        rounded
        class="my-2"
      >
        {{ link }}
      </v-btn>
      <v-col
        class="primary lighten-2 py-4 text-center white--text"
        cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>HCMUS</strong>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
    export default {
      data: () => ({
        links: [
          'Home',
          'About Us',
          'Team',
          'Blog',
          'Contact Us',
        ],
      }),
    }
</script>

<style lang="scss" scoped>

</style>