<template>
    <v-card class="overflow-hidden"> 
      <v-toolbar>
        <v-container>
          <v-row>
            <v-col cols="2">
              <v-img @click="pushHomePage()" src="../../public/logo.png" style="cursor:pointer; margin-top:10px;"></v-img>
            </v-col>
            <v-col cols="10"
              style="display:flex; justify-content:space-evenly; align-items:center;">
              <div style="cursor:pointer" @click="pushtoCompanyList()">
                {{ $t('topCompany') }}
              </div>
        
              <div style="cursor:pointer" @click="pushtoJobList()">
                {{ $t('allJobs') }}
              </div>
              
              <v-dialog v-if="isLoginedUser==false" v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on }">
                  <div style="cursor:pointer" v-on="on">
                    {{ $t('login') }}
                  </div>
                </template>

                <v-card style="padding:10px 20px 10px 20px">
                  <v-tabs v-model="tab">
                    <v-tab :key="1">{{ $t('login') }}</v-tab>
                    <v-tab :key="2">{{ $t('companyRegister') }}</v-tab>
                  </v-tabs>

                  <v-tabs-items v-model="tab">
                    <v-tab-item
                      :key="1"
                    >
                    <v-container>
                      <v-row>
                        <v-col cols="12">
                          <v-text-field v-model="userLogin.username" label="Email" required></v-text-field>
                        </v-col>
                        <v-col cols="12">
                          <v-text-field v-model="userLogin.password" :label="$t('password')" type="password" required></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row style="justify-content:space-between">
                        <div>
                          <v-subheader @click="forgotPasswordAction()" class="forgot-password">{{ $t('forgotPassword') }}</v-subheader>
                        </div>
                        <div>
                          <v-subheader :style="checkEmptyLogin==true ? 'color:red':''">{{ $t('pleaseFullFill') }}</v-subheader>
                        </div>
                      </v-row>
                      <v-row style="justify-content:flex-end">
                        <v-btn color="blue darken-1" text @click="dialog = false">{{ $t('close') }}</v-btn>
                        <v-btn color="blue darken-1" text @click="loginAction()">{{ $t('login') }}</v-btn>
                      </v-row>
                    </v-container>
                    </v-tab-item>

                    <v-tab-item
                      :key="2"
                    >
                      <v-container>
                        <v-row>
                          <v-col cols="12">
                            <v-text-field v-model="userForm.fullname" :label="$t('fullname')" required></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field v-model="userForm.email" :label="$t('emailReg')" required></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field v-model="userForm.companyName" :label="$t('companyName')" required></v-text-field>
                          </v-col>
                          <v-col cols="12"> 
                            <v-file-input v-model="userForm.companyLogo" label="Logo Company" required></v-file-input>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field v-model="userForm.phone" :label="$t('phone')" required></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field v-model="userForm.password1" :label="$t('password')" type="password" required></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field v-model="userForm.password2" :label="$t('rePassword')" type="password" required></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row style="justify-content:flex-end">
                          <v-subheader :style="checkEmpty==true ? 'color:red':''">{{ $t('pleaseFullFill') }}</v-subheader>
                        </v-row>
                        <v-row style="justify-content:flex-end">
                          <v-btn color="blue darken-1" text @click="dialog = false">{{ $t('close') }}</v-btn>
                          <v-btn color="blue darken-1" style="background:rgb(30, 136, 229, 0.3)" text @click="registerForm()">{{ $t('register') }}</v-btn>
                        </v-row>
                      </v-container>
                    </v-tab-item>

                  </v-tabs-items>
                </v-card>
                
              </v-dialog>

              <v-menu :close-on-click="dialogChangePassword ? false : true" v-if="isLoginedUser==true"
                :close-on-content-click="false"
                :nudge-width="200"
                offset-x
              >
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="indigo"
                    dark
                    v-on="on"
                  >
                    {{userEmail}}
                  </v-btn>
                </template>

                <v-card>
                  <v-list>
                    <v-list-item>
                      <v-list-item-avatar>
                        <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John">
                      </v-list-item-avatar>

                      <v-list-item-content>
                        <v-list-item-title>{{userEmail}}</v-list-item-title>
                        <v-list-item-subtitle>Founder of HCMUS</v-list-item-subtitle>
                      </v-list-item-content>

                    </v-list-item>
                  </v-list>

                  <v-divider></v-divider>

                  <v-list>
                    <v-list-item>
                      <v-list-item-title style="cursor: pointer" @click="pushProfile()">{{ $t('profile') }}</v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="!userIsStudent">
                      <v-list-item-title style="cursor: pointer" @click="pushProfileCompany()">{{ $t('profile company') }}</v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="!userIsStudent">
                      <v-list-item-title style="cursor: pointer" @click="pushCreatePost()">{{ $t('newPost') }}</v-list-item-title>
                    </v-list-item>

                    <v-dialog v-model="dialogChangePassword" persistent max-width="600px">
                      <template v-slot:activator="{ on }">
                        <!-- <v-btn color="primary" dark v-on="on">Open Dialog</v-btn> -->
                        <v-list-item style="cursor:pointer">
                          <v-list-item-title v-on="on">{{ $t('changePassword') }}</v-list-item-title>
                        </v-list-item>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="headline">{{ $t('changePassword') }}</span>
                        </v-card-title>
                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col cols="12">
                                <v-text-field v-model="valueChangePassword.oldPassword" label="Old password*" type="password" required></v-text-field>
                              </v-col>
                              <v-col cols="12">
                                <v-text-field v-model="valueChangePassword.newPassword1" label="New password*" type="password" required></v-text-field>
                              </v-col>
                              <v-col cols="12">
                                <v-text-field v-model="valueChangePassword.newPassword2" label="Re-enter new password*" type="password" required></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row style="justify-content:flex-end">
                              <v-subheader :style="checkEmptyLogin==true ? 'color:red':''">{{ $t('pleaseFullFill') }}</v-subheader>
                            </v-row>
                          </v-container>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="dialogChangePassword = false">{{ $t('close') }}</v-btn>
                          <v-btn color="blue darken-1" text @click="changePassowrdAction()">{{ $t('save') }}</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>

                     <v-list-item @click="logoutAction">
                      <v-list-item-title>{{ $t('logout') }}</v-list-item-title>
                    </v-list-item>
                  </v-list>

                </v-card>
              </v-menu>

              <!-- change password success -->
              <Dialog
                ref="warningSuccessChangePassword"
                dialogTitle="Change password success !"
                dialogContent="Your password has been changed. Please login again" />


              <v-select
                style="max-width:150px; padding-top:25px"
                :items="itemsLanguage"
                :label="$t('language')"
                v-model="valueLanguage"
                item-text="title"
                item-value="lang"
              ></v-select>
            </v-col>
          </v-row>  
        </v-container>

        <v-dialog
          v-model="dialogResetPassword"
          max-width="500"
        >
          <v-card>
            <v-card-title class="headline">{{$t('sendEmailResetPassword')}}</v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field v-model="emailResetPassword" label="Please enter your email account" required></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              
              <v-btn
                color="green darken-1"
                text
                @click="dialogResetPassword = false"
              >
                Close
              </v-btn>

              <v-btn
                color="green darken-1"
                text
                @click="sendResetPasswordEmailAction()"
              >
                Send
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog
          v-model="checkDisplayNotificationSuccessSignUp"
          width="500"
        >
          <v-card>
            <v-card-title
              class="headline grey lighten-2"
              primary-title
            >
              {{$t("registrationSuccess")}}
            </v-card-title>

            <v-card-text>
              {{$t("notificationRegistrationSuccess")}}
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                text
                @click="checkDisplayNotificationSuccessSignUp = false"
              >
                {{$t("accept")}}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

      </v-toolbar>
    </v-card>
</template>

<script>
import { mapActions } from "vuex";
import Dialog from "./Dialog"
    export default {
      name: 'Header',
      components:{
        Dialog
      },
      data: function () {
        return {
          itemsLanguage: [
            {
              title: "Tiếng Việt",
              lang: "vi"
            },
            {
              title: "English",
              lang: "en"
            }
          ],
          valueLanguage: {
            title: "Tiếng Việt",
            lang: "vi"
          },
          dialog: false,
          tab: null,
          userLogin:{
            username:"",
            password:""
          },
          userForm:{
            email:"",
            fullname: "",
            phone: "",
            password1: "",
            password2: "",
            companyName: "",
            companyLogo:[]
          },
          valueChangePassword:{
            oldPassword:"",
            newPassword1:"",
            newPassword2:""
          },
          checkEmpty: null,
          checkEmptyLogin: null,
          checkDisplayNotificationSuccessSignUp: false,
          isLoginedUser: false,
          userEmail: null,
          userIsStudent: true,
          dialogChangePassword: false,
          dialogResetPassword: false,
          emailResetPassword: ""
        }
      },
      watch:{
        valueLanguage(newValue){
          this.changeLanguage(newValue)
        },
      },
      created(){
        let user = window.localStorage.getItem("userInfo")
        if(user !== null){
          let userInfo = JSON.parse(user)
          this.userEmail = userInfo.email
          this.userIsStudent = userInfo.is_student
          this.isLoginedUser = true
        }
        else {
          this.isLoginedUser = false
        }
      },
      updated(){
        let user = window.localStorage.getItem("userInfo")
        if(user !== null){
          let userInfo = JSON.parse(user)
          this.userEmail = userInfo.email
          this.userIsStudent = userInfo.is_student
          this.isLoginedUser = true
        }
        else {
          this.isLoginedUser = false
        }
      },
      methods:{
        ...mapActions({
          setLanguage: "setLanguage",
          register: "register",
          login:"login",
          logout:"logout",
          changePassword: "changePassword",
          sendResetPasswordEmail:"sendResetPasswordEmail"
        }),
        pushHomePage(){
          this.$router.push("/")
        },
        pushtoCompanyList(){
          this.$router.push("/list-companies")
        },
        pushtoJobList(){
          this.$router.push("/jobs")
        },
        pushProfile(){
          this.$router.push("/profile")
        },
        pushProfileCompany(){
          this.$router.push("/profile-company")
        },
        pushCreatePost(){
          this.$router.push("/create-post")
        },
        forgotPasswordAction(){
          this.dialog =false
          this.dialogResetPassword = true
        },
        sendResetPasswordEmailAction(){
          this.dialogResetPassword = false
          this.sendResetPasswordEmail(this.emailResetPassword)
        },
        changePassowrdAction(){
          let vm = this
          let isFull = Object.values(this.valueChangePassword).every(x => !!x)
          if(isFull){
            this.checkEmptyLogin = false
            this.valueChangePassword.old_password = this.valueChangePassword.oldPassword
            delete this.valueChangePassword.oldPassword
            if(this.valueChangePassword.newPassword1 == this.valueChangePassword.newPassword2){
              this.valueChangePassword.new_password = this.valueChangePassword.newPassword1
              delete this.valueChangePassword.newPassword1
              delete this.valueChangePassword.newPassword2
              this.changePassword(vm.valueChangePassword).then(response=>{
                if(response.status == 204){
                  this.dialogChangePassword = false
                  this.$refs.warningSuccessChangePassword._data.dialog = true;
                  this.logoutAction()
                  Object.keys(vm.valueChangePassword).forEach(function(index) {
                    vm.valueChangePassword[index] = ""
                  });
                }
                }, error => {
                  // eslint-disable-next-line no-console
                  console.log("change password error", error)
                })
            }
          } else {
            this.checkEmptyLogin = true
          }
        },
        logoutAction(){
          this.logout()
          this.$router.push("/")  // or login
          this.$forceUpdate()
        },
        loginAction(){
          let vm = this
          let isFull = Object.values(vm.userLogin).every(x => !!x)
          if(isFull){
            this.checkEmptyLogin = false
            this.login(vm.userLogin).then(response=>{
              if(response.status == 200){
                vm.dialog = false
                Object.keys(this.userLogin).forEach(function(index) {
                  vm.userLogin[index] = ""
                });
              }
            }, error => {
              // eslint-disable-next-line no-console
              console.error("Login Error", error)
            })
          }
          else{
            this.checkEmptyLogin = true
          }
        },
        registerForm(){
          let vm = this
          let isFull = Object.values(this.userForm).every(x => !!x)
          if(isFull){
            this.checkEmpty = false
            this.userForm.company_name = this.userForm.companyName
            delete this.userForm.companyName
            this.userForm.company_logo = this.userForm.companyLogo
            delete this.userForm.companyLogo
            if(this.userForm.password1 == this.userForm.password2){
              this.userForm.password = this.userForm.password1
              delete this.userForm.password1
              delete this.userForm.password2
            }
            else{
              return 0
            } 
            this.register(this.userForm).then(response=>{
              if(response.status == 201){
                this.dialog = false
                this.checkDisplayNotificationSuccessSignUp = true
                Object.keys(this.userForm).forEach(function(index) {
                  vm.userForm[index] = ""
                });
              }
            }, error => {
              // eslint-disable-next-line no-console
              console.error("Register Error", error)
            })
          }else{
            this.checkEmpty = true
          }
        },
        pushToLogin(){
          this.$router.push("/login")
        },
        changeLanguage(lang){
          this.$i18n.locale = lang
          this.setLanguage(lang);
        }
      }
    }
</script>

<style lang="scss" scoped>
  .forgot-password{
    cursor: pointer;
  }
  .forgot-password:hover{
    text-decoration: underline;
  }
</style>