<template>
    <div>
        <v-row 
            justify="center"
            >
                <v-col class="text-center" cols="6" >
                    <v-autocomplete
                        v-model="model"
                        :items="skillsSearch"
                        :loading="isLoading"
                        :search-input.sync="search"
                        chips
                        clearable
                        hide-details
                        hide-selected
                        item-text="name"
                        item-value="symbol"
                        :label="$t('searchText')"
                        solo>
                    </v-autocomplete>
                </v-col>
                <v-col class="text-center" cols="2" >
                    <v-select
                        prepend-inner-icon="location_on"
                        :items="locationSearch"
                        :label="$t('location')"
                        solo
                        append-icon=""
                    ></v-select>
                </v-col>
                <v-col class="text-center" cols="1" >
                    <v-btn style="height:47px" tile large color="error">{{$t('search')}}</v-btn>
                </v-col>
            </v-row>
    </div>
</template>

<script>
    export default {
        name:"SearchInput",
        data(){
            return{
                skillsSearch:['Java', 'PHP', 'Javascript','Python', 'Android','IOS'],
                locationSearch:['TP.Hồ Chí Minh', 'Hà Nội', 'Đà Nẵng'],
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>