<template>
  <div class="company-list-page">
    <Header />
    <v-container style="background-color:#edebeb">
      <v-row>
        <v-col>
          <SearchInput />
          <CardCompany
            style="margin-bottom:10px"
            v-for="(item) in list_companies"
            :key="item.id"
            :company="item"
          />
        </v-col>
      </v-row>
      <v-row style="justify-content:flex-end">
        <div class="text-center">
          <v-pagination v-model="page" :value="page" :length="6"></v-pagination>
        </div>
      </v-row>

    </v-container>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Header from "../commons/Header";
import CardCompany from "../commons/CardCompany"
import SearchInput from "../commons/SearchInput";
export default {
  components: {
    Header,
    SearchInput,
    CardCompany
  },
  data() {
    return {
      dialog: false,
      page: 1,
      list_companies: [],
    };
  },
  name: "ListCompany",
  methods: {
    ...mapActions({
      getListCompanies: "getListCompanies",
    }),
  },
  watch: {
  },
  created() {
    this.getListCompanies(1).then(res => {
        // eslint-disable-next-line no-console
      this.list_companies = res.data.results;
    });
  },
};
</script>

<style lang="scss" scoped>
</style>