<template>
  <div class="company-detail-page">
    <Header />
    <v-container style="background-color:#edebeb">
      <v-row>
        <v-col cols="2" style="text-align:center">
          <img height="150" width="150" :src="companiesDetail.image" alt="Avatar" />
        </v-col>
        <v-col cols="6">
            <div style="font-size:32px">
                {{companiesDetail.company_name}}
            </div>
            <div>
                <i class="fas fa-map-marker-alt" style="width: 1rem" /> 
                {{companiesDetail.address}}
            </div>
        </v-col>
        <v-col cols="4" style="text-align:center">
            <div style="padding:10px 0px">
                <v-btn style="text-transform: capitalize; width:200px" 
                color="primary">Write a review</v-btn>
            </div>
            <div style="padding:10px 0px">
                <v-btn style="text-transform: capitalize; width:200px;
                background-color:white !important; color: blue"
                color="primary">Follow</v-btn>
            </div>
        </v-col>
      </v-row>
    </v-container>

    <v-container style="background-color:#edebeb; margin-top:20px">
        <v-row>
            <v-col cols="9" style="font-size: 25px;">
              <v-card>
                <v-tabs v-model="tab"
                  fixed-tabs
                  background-color="white"
                >
                  <v-tab key="1">
                    Jobs
                  </v-tab>
                  <v-tab key="2">
                    Reviews
                  </v-tab>
                </v-tabs>

                <v-tabs-items v-model="tab">
                  <v-tab-item
                    key="1"
                  >
                    <v-card flat>
                      <v-card-text>
                        <CardJob
                          :isInCompany="true"
                          v-for="(item) in companiesDetail.posts"
                          :key="item.id"
                          :post="item"
                          :applyPost="applyPostWithResmuse"
                        />
                      </v-card-text>
                    </v-card>
                  </v-tab-item>

                  <v-tab-item
                    key="2"
                  >
                    <v-card flat>
                      <v-card-text>Reviews</v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
              </v-card>

            </v-col>
            <v-col cols="3" style="font-size: 25px;">
                Orverall rating
                <v-rating v-model="rating"></v-rating>
            </v-col>
        </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Header from "../commons/Header";
import CardJob from "../commons/CardJobs";
import axios from 'axios';

const API_URL = process.env.VUE_APP_API_URL_PRODUCT

export default {
  components: {
    Header,
    CardJob
  },
  data() {
    return {
      tab: null,
      companiesDetail: {},
      rating: 4,
    };
  },
  name: "CompanyDetail",
  methods: {
    ...mapActions({
    }),
  },
  watch: {
  },
  created() {
    let vm = this 
    axios.get(API_URL + `/api/company/${this.$route.params.id}/`)
        .then(response => {
            vm.companiesDetail = response.data
            // eslint-disable-next-line no-console
            console.log(vm.companiesDetail)
        }, error => {
            // eslint-disable-next-line no-console
            console.log(error)
        })
  },
};
</script>

<style lang="scss" scoped>
</style>