/* eslint-disable no-console */
<template>
  <v-container fluid>
    <v-layout column>
      <v-card>
        <v-card-text>
          <v-text-field v-model="post.title" label="title"></v-text-field>
          <v-text-field v-model="post.description" label="description"></v-text-field>
          <v-text-field
            v-model.number="post.min_salary"
            label="Min Salary"
            type="number"
            min="0"
            :rules="[numberRule]"
          ></v-text-field>
          <v-text-field
            v-model.number="post.max_salary"
            label="Min Salary"
            type="number"
            min="0"
            :rules="[numberRule]"
          ></v-text-field>
          <v-text-field v-model="post.skills" label="skills"></v-text-field>
          <v-text-field v-model="post.time" label="time"></v-text-field>
          <v-switch v-model="post.is_ot" label="OT" color="info" style="margin-bottom: 2rem;" hide-details></v-switch>
          <div class="editor">
            <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
              <div class="menubar">
                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.bold() }"
                  @click="commands.bold"
                >
                  <i class="fas fa-bold"></i>
                </button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.italic() }"
                  @click="commands.italic"
                >
                  <i class="fas fa-italic"></i>
                </button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.strike() }"
                  @click="commands.strike"
                >
                  <i class="fas fa-strikethrough"></i>
                </button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.underline() }"
                  @click="commands.underline"
                >
                  <i class="fas fa-underline" />
                </button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.code() }"
                  @click="commands.code"
                >
                  <i class="fas fa-code" />
                </button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.paragraph() }"
                  @click="commands.paragraph"
                >
                  <i class="fas fa-paragraph" />
                </button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                  @click="commands.heading({ level: 1 })"
                >H1</button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                  @click="commands.heading({ level: 2 })"
                >H2</button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                  @click="commands.heading({ level: 3 })"
                >H3</button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.bullet_list() }"
                  @click="commands.bullet_list"
                >
                  <i class="fas fa-list-ul" />
                </button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.ordered_list() }"
                  @click="commands.ordered_list"
                >
                  <i class="fas fa-list-ol" />
                </button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.blockquote() }"
                  @click="commands.blockquote"
                >
                  <i class="fas fa-quote-right" />
                </button>

                <button
                  class="menubar__button"
                  :class="{ 'is-active': isActive.code_block() }"
                  @click="commands.code_block"
                >
                  <i class="fas fa-square" />
                </button>

                <button class="menubar__button" @click="commands.horizontal_rule">-</button>

                <button class="menubar__button" @click="commands.undo">
                  <i class="fas fa-undo" />
                </button>

                <button class="menubar__button" @click="commands.redo">
                  <i class="fas fa-underline" />
                </button>
              </div>
            </editor-menu-bar>

            <editor-content class="editor__content" :editor="editor" />
          </div>
        </v-card-text>
        <div v-if="isFull" style="color: red; margin-left: 10px">Please enter all required fields</div>
        <v-card-actions>
          <v-btn color="primary" :loading="loading" @click="runCeatePost">
            <v-icon left dark>check</v-icon>Save changes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-layout>
  </v-container>
</template>

<style>
.menubar__button {
  margin: 5px;
}
.editor__content > div {
  min-height: 200px;
  border: 1px solid lightgray;
}
</style>
<script>
// import Icon from '../commons/Components/Icon'
import { isItNumber } from "../../utils";
import { Editor, EditorContent, EditorMenuBar } from "tiptap";
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History
} from "tiptap-extensions";
import { mapActions } from "vuex";
export default {
  pageTitle: "My Profile",
  components: {
    EditorContent,
    EditorMenuBar
    // Icon,
  },
  data() {
    return {
      userInfo: {},
      post: {},
      editor: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History()
        ],
        content: '',
      }),
      isFull: false,
      numberRule: val => {
        if (val < 0) return "Please enter a positive number";
        if (!isItNumber(val)) return "Not valid";
        return true;
      }
    };
  },
  mounted() {
    this.editor.content = this.post.content
  },
  beforeDestroy() {},
  created() {
    this.userInfo = JSON.parse(window.localStorage.getItem("userInfo"))
    this.post = this.$store.state.post;
  },
  methods: {
    ...mapActions({
      createPost: "createPost"
    }),
    runCeatePost() {
      const { post, userInfo, createPost } = this;
      post.content = this.editor.getHTML()
      post.name_company = userInfo.name_company;
      post.name_author = userInfo.email;
      // eslint-disable-next-line no-console
      let is_ot = post.is_ot
      delete post.is_ot
      let isFull = Object.values(post).every(x => !!x)
      post.is_ot = is_ot
      if (isFull) {
        createPost(post).then(res => {
          if(res.status == 201){
            this.isFull = false;
            this.$router.push("/")
          }
        }, error => {
          // eslint-disable-next-line no-console
          console.log(error);
        })
      } else {
        this.isFull = true;
      }
    }
  }
};
</script>