<template>
  <v-container fluid>
    <v-layout column>
      <v-card v-if="this.id != 0">
        <v-card-text>
          <div class="d-flex mb-6">
            <v-avatar size="96" class="mr-4">
              <img :src="user.avatar" alt="Avatar" />
            </v-avatar>
            <div class="mt-4" style="width: 100%">
              <div class="mb-1">
                <b>{{user.fullname}}</b>
                <span>&nbsp;profile</span>
              </div>
            </div>
          </div>
          <v-checkbox v-model="user.is_graduted" :readonly="true" :label="`Graduted`"></v-checkbox>
          <v-text-field v-model="user.email" label="email" outlined disabled></v-text-field>
          <v-text-field v-model="user.fullname" label="Full name" outlined disabled></v-text-field>
          <v-text-field v-model="user.skills" label="Skills" outlined disabled></v-text-field>
          <a v-if="user.resume !== undefined && user.resume !== ''" :href="user.resume" target="_blank">CV</a>
        </v-card-text>
        <!-- <v-card-actions>
          <v-btn color="primary" :loading="loading" @click="saveuser(user)">
            <v-icon left dark>check</v-icon>Save Changes
          </v-btn>
        </v-card-actions> -->
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from "vuex";
export default {
  pageTitle: "My Profile",
  components: {},
  data() {
    return {
      loading: false,
      id: 0,
      user: {}
    };
  },
  created(){
    this.id = this.$route.params.id
    // eslint-disable-next-line no-console
    this.getCandidateUserById(this.id).then(response => {
      this.user = response.data
      // eslint-disable-next-line no-console
      console.log(this.id, this.user)
    })
  },
  methods: {
    ...mapActions({
      getCandidateUserById: "getCandidateUserById",
    }),
    openAvatarPicker() {
      this.showAvatarPicker = true;
    },
    selectAvatar(avatar) {
      this.form.avatar = avatar;
    }
  }
};
</script>