<template>
    <div class="home-page">
        <Header/>
        <v-parallax
            height="400"
            src="../assets/banner.jpg"
        >
            <SearchInput/>
        </v-parallax>

        <v-container>
            <v-row>
                <div style="
                color: #353535;
                line-height: 35px;
                font-size: 32px;
                font-weight: 400;">{{$t('topEmployers')}}</div>
            </v-row>

            <v-row>
                <v-col align="center" justify="center" cols="4">
                    <Card/>
                </v-col>
                <v-col align="center" justify="center" cols="4">
                    <Card/>
                </v-col>
                <v-col align="center" justify="center" cols="4">
                    <Card/>
                </v-col>
            </v-row>
        </v-container>

        <v-container>
            <v-row>
                <div style="
                color: #353535;
                line-height: 35px;
                font-size: 32px;
                font-weight: 400;
                margin-bottom:50px">{{$t('newestBlogs')}}</div>
            </v-row>

            <v-row>
                <v-col align="center" justify="center" cols="6">
                    <BlogCard/>
                </v-col>
                <v-col align="center" justify="center" cols="6">
                    <BlogCard/>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Header from "../commons/Header"
import Card from "../commons/Card"
import SearchInput from "../commons/SearchInput"
import BlogCard from '../commons/BlogCard'

export default {
    components: {
        Header,
        Card,
        BlogCard,
        SearchInput
    },
    data(){
        return{
            skillsSearch:['Java', 'PHP', 'Javascript','Python', 'Android','IOS'],
            locationSearch:['TP.Hồ Chí Minh', 'Hà Nội', 'Đà Nẵng'],
        }
    },
    methods: {
        ...mapActions({
            getListJobs: "getListJobs",
        }),
    },
    computed:{
        getWindowWidth(){
            return window.innerWidth
        }
    },
    created(){
        // this.getListJobs(1)
    }
}
</script>

<style lang="scss" scoped>
    .home-page{
        margin: 0 auto;
        max-width: 1440px;
    }
</style>