<template>
  <div class="job-list-page">
    <Header />
    <v-container style="background-color:#edebeb">
      <v-row>
        <v-col>
          <SearchInput />
          <CardJob
            style="margin-bottom:10px"
            v-for="(item) in list_post"
            :key="item.id"
            :post="item"
            :applyPost="applyPostWithResmuse"
          />
        </v-col>
      </v-row>
      <v-row style="justify-content:flex-end">
        <div class="text-center">
          <v-pagination v-model="page" :value="page" :length="6"></v-pagination>
        </div>
      </v-row>

      <div class="text-center">
        <v-dialog v-model="dialog" width="500">
          <v-card>
            <v-card-title class="headline grey lighten-2" primary-title>Missing resumse</v-card-title>
            <v-card-text>You haven't update your resume</v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="pushtoProfile">Go to update</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Header from "../commons/Header";
import CardJob from "../commons/CardJobs";
import SearchInput from "../commons/SearchInput";
export default {
  components: {
    Header,
    SearchInput,
    CardJob
  },
  data() {
    return {
      dialog: false,
      page: 1,
      list_post: [],
    };
  },
  name: "ListJobs",
  methods: {
    ...mapActions({
      getListJobs: "getListJobs",
      applyPost: "applyPost"
    }),
    pushtoProfile() {
      this.diablog = false;
      this.$router.push("/profile");
    },
    applyPostWithResmuse(post_id) {
      this.applyPost({type: 'list_post', post_id}).then(response => {
        // eslint-disable-next-line no-console
        console.log(response)
      }, error => {
          const { response } = error;
          if (response.status == 400) {
            this.dialog = true;
          }
        }
      );
    }
  },
  watch: {
    page(value) {
      this.getListJobs(value).then(res => {
        // eslint-disable-next-line no-console
        console.log('1', res)
        this.list_post = this.$store.state.listJobs.results;
      });
    }
  },
  created() {
    this.getListJobs(1).then(res => {
      // eslint-disable-next-line no-console
      console.log('1', res)
      this.list_post = res.data.results;
    });
  },
};
</script>

<style lang="scss" scoped>
</style>