<template>
  <div>
    <Header/>
    <v-layout>
      <v-card style="margin: 0 auto; margin-top: 15px">
        <v-layout>
          <v-card :loading="loading" max-width="250">
            <div class="d-flex justify-content-start align-items-center" style="width: 200px">
              <img v-bind:src="post.company.image" style="margin: 20px auto; width: 100%" />
            </div>
            <v-divider class="mx-4"></v-divider>
            <v-card-title
              class="text-center"
              style="text-align: center"
            >{{ post.company.company_name }}</v-card-title>
            <v-card-text>{{ post.company.introduction }}</v-card-text>
            <v-card-text>
              <v-chip-group
                v-model="selection"
                active-class="deep-purple accent-4 white--text"
                column
              >
                <div style="width: 100%">
                  <i class="fas fa-cog mr-4" style="width: 20px" />
                  <span>Outsourcing</span>
                </div>
                <div style="width: 100%">
                  <i class="fas fa-user-friends mr-4" style="width: 20px" />
                  <span>1000+</span>
                </div>
                <div style="width: 100%">
                  <i class="far fa-calendar-alt mr-4" style="width: 20px" />
                  <span>{{ post.time }}</span>
                </div>
                <div style="width: 100%">
                  <i class="fas fa-clock mr-4" style="width: 20px" />
                  <span v-if="post.is_ot">No OT</span>
                  <span v-if="!post.is_ot">OT</span>
                </div>
              </v-chip-group>
            </v-card-text>
            <div style="text-align: center; margin: 8px;">
              <a style="text-align: center;" :href="post.company.url_page">View our company</a>
            </div>
          </v-card>

          <div style="width: 800px">
            <div style="margin-left: 5rem">
              <div style="font-size: 1.5rem; font-weight: bold; margin-top: 1rem">{{ post.title }}</div>
              <div style="margin: .5rem 0;">
                <span
                  v-for="(item, index) in post.skills"
                  :key="index"
                  style="color: #575656; border: 1px solid lightgray; font-size: 0.8rem; padding: 2.5px 5px; margin-right: 5px"
                >{{item}}</span>
              </div>
              <div style="margin: .8rem 0; font-size: .8rem; ">
                <div style="width: 100%">
                  <i class="fas fa-dollar-sign mr-4" style="width: 20px; margin-top: .5rem;" />
                  <span>{{post.min_salary}}$ - {{post.max_salary}}$</span>
                </div>
                <div style="width: 100%">
                  <i class="fas fa-map-marker-alt mr-4" style="width: 20px; margin-top: .5rem;" />
                  <span>{{post.company.address}}</span>
                </div>
                <div style="width: 100%">
                  <i class="far fa-calendar-alt mr-4" style="width: 20px; margin-top: .5rem;" />
                  <span>{{ post.custom_created_at }} ago</span>
                </div>
              </div>
              <div class="my-6" style="display: flex">
                <div v-if="!post.is_apply" class="pb-0">
                  <v-btn @click="applyPostWithResmuse(post.id)" depressed large color="error">Apply now</v-btn>
                </div>
                <div
                  v-if="post.is_apply"
                  class="pb-0"
                  style="font-size: .875rem; line-height: .875rem; color: green; height: 45px; padding: 13px 20px; border-radius: 5px; user-select: none; background-color: whitesmoke; border: 1px solid lightgray"
                >
                  <i class="fas fa-check-circle" style="color: green;" /> Applied
                </div>
              </div>
              <div v-html="post.content">{{post.content}}</div>
            </div>
          </div>

          <div class="text-center">
            <v-dialog v-model="dialog" width="500">
              <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>Missing resumse</v-card-title>
                <v-card-text>You haven't update your resume</v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="pushtoProfile">Go to update</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          
        </v-layout>
      </v-card>
    </v-layout>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Header from "../commons/Header";
export default {
  pageTitle: "My Profile",
  components: {
    Header
  },
  data() {
    return {
      id: 0,
      post: {},
      dialog: false,
    };
  },
  created() {
    this.id = this.$route.params.id;
    this.getPost(this.id).then(res => {
      // eslint-disable-next-line no-console
      console.log(this.id, res);
      res.data.skills = res.data.skills.split(",");
      this.post = res.data;
    });
  },
  methods: {
    ...mapActions({
      changeAvatarUser: "changeAvatarUser",
      changeResumeUser: "changeResumeUser",
      saveUserInfo: "saveUserInfo",
      getPost: "getPost",
      applyPost: "applyPost"
    }),
    openAvatarPicker() {
      this.showAvatarPicker = true;
    },
    applyPostWithResmuse(post_id) {
      this.applyPost({type:'detail_post', post_id}).then(response => {
        this.post.is_apply = true
        // eslint-disable-next-line no-console
        console.log(response)
      }, error => {
          const { response } = error;
          if (response.status == 400) {
            this.dialog = true;
          }
        }
      );
    },
    pushtoProfile() {
      this.diablog = false;
      this.$router.push("/profile");
    },
  }
};
</script>