<template>
  <div>
    <Header />
    <v-container fluid>
      <v-layout column style="margin-top: 15px">
        <v-card>
          <v-card-text>
            <div class="d-flex mb-6">
              <v-avatar size="96" class="mr-4">
                <img :src="userInfo.avatar" alt="Avatar" />
              </v-avatar>
              <div class="mt-4" style="width: 100%">
                <div class="mb-1">
                  <b>Welcome, </b>
                  <span>{{`${userInfo.fullname}`}}</span>
                </div>
                <v-file-input prepend-icon="mdi-camera" label="File input" filled @change="changeAvatarUser($event, 123)">Change Avatar</v-file-input>
              </div>
            </div>
            <v-text-field v-model="userInfo.email" label="email" outlined="true" disabled></v-text-field>
            <v-text-field v-model="userInfo.phone" label="phone" outlined="true"></v-text-field>
            <v-text-field v-model="userInfo.major" label="major" outlined="true"></v-text-field>
            <v-text-field v-model="userInfo.skills" label="skills" outlined="true"></v-text-field>
            <v-text-field v-model="userInfo.fullname" label="Full name" outlined="true"></v-text-field>
            <v-file-input
              color="deep-purple accent-4"
              counter
              label="Upload CV"
              placeholder="Select your CV"
              prepend-icon=""
              outlined
              :show-size="1000"
              @change="changeResumeUser"
            >
              <template v-slot:selection="{ index, text }">
                <v-chip v-if="index < 2" color="deep-purple accent-4" dark label small>{{ text }}</v-chip>

                <span
                  v-else-if="index === 2"
                  class="overline grey--text text--darken-3 mx-2"
                >+{{ files.length - 2 }} File(s)</span>
              </template>
            </v-file-input>
            <a v-if="userInfo.resume" :href="userInfo.resume" target="_blank">Your current CV</a>
            <p>We accept .doc .docx, .pdf files up to 1MB</p>
            <v-switch v-model="userInfo.is_graduted" label="graduated" color="info" style="margin-bottom: 2rem;" hide-details></v-switch>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" :loading="loading" @click="saveUserInfoAndGoMainPage">
              <v-icon left dark>check</v-icon>Save Changes
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Header from "../commons/Header";
export default {
  pageTitle: "My Profile",
  components: {
    Header
  },
  data() {
    return {
      loading: false,
      form: {
        fullname: "John Doe",
        email: "john@doe.com",
        avatar: "MALE_CAUCASIAN_BLOND_BEARD"
      },
      showAvatarPicker: false,
      userInfo: {}
    };
  },
  created(){
    this.userInfo = this.$store.state.user
    // this.userInfo = JSON.parse(window.localStorage.getItem("userInfo"))
  },
  methods: {
    ...mapActions({
      changeAvatarUser: "changeAvatarUser",
      changeResumeUser: "changeResumeUser",
      saveUserInfo: "saveUserInfo",
    }),
    saveUserInfoAndGoMainPage() {
      this.saveUserInfo(this.userInfo).then(res => {
        // eslint-disable-next-line no-console
        console.log(res)
        this.$router.push("/")
      })
    }
  }
};
</script>