<template>
  <div>
    <Header />
    <v-container fluid>
      <v-layout column style="margin-top: 15px">
        <v-card>
          <v-card-text>
            <div class="d-flex mb-6">
              <v-avatar size="96" class="mr-4">
                <img :src="companyInfo.image" alt="Image" />
              </v-avatar>
              <div class="mt-4" style="width: 100%">
                <v-file-input prepend-icon="mdi-camera" label="File input" filled @change="changeImageCompany($event, 123)">Change image</v-file-input>
              </div>
            </div>
            <v-text-field v-model="companyInfo.company_name" label="company_name" outlined="true"></v-text-field>
            <v-text-field v-model="companyInfo.address" label="address" outlined="true"></v-text-field>
            <v-text-field v-model="companyInfo.district" label="district" outlined="true"></v-text-field>
            <v-text-field v-model="companyInfo.city" label="city" outlined="true"></v-text-field>
            <v-text-field v-model="companyInfo.introduction" label="introduction" outlined="true"></v-text-field>
            <v-text-field v-model="companyInfo.contract_expiry_date" label="contract_expiry_date" outlined="true"></v-text-field>
            <v-text-field v-model="companyInfo.url_page" label="url_page" outlined="true"></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" :loading="loading" @click="saveCompanyInfoAndGoMainPage">
              <v-icon left dark>check</v-icon>Save Changes
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Header from "../commons/Header";
export default {
  pageTitle: "My Profile",
  components: {
    Header
  },
  data() {
    return {
      loading: false,
      companyInfo: {}
    };
  },
  created(){
    this.companyInfo = this.$store.state.user.company
  },
  methods: {
    ...mapActions({
      changeImageCompany: "changeImageCompany",
      saveCompanyInfo: "saveCompanyInfo",
    }),
    saveCompanyInfoAndGoMainPage() {
      this.saveCompanyInfo(this.companyInfo).then(res => {
        // eslint-disable-next-line no-console
        console.log(res)
        this.$router.push("/")
      })
    }
  }
};
</script>