<template>
    <v-container>
        <v-row>
            <v-col md="6">
                <h2>Reset Password</h2>
                <v-text-field
                    label="New Password"
                    type="password"
                    v-model="newPassword1"
                ></v-text-field>

                <v-text-field
                    label="Re-enter new password"
                    type="password"
                    v-model="newPassword2"
                ></v-text-field>

                <v-btn @click="confirmResetPasswordAction()" small color="primary">Confirm</v-btn>
            </v-col>
        </v-row>

        <v-dialog v-model="dialogSuccess" persistent max-width="500">
            <v-card>
                <v-card-title class="headline">Reset Password Success</v-card-title>
                <v-card-text>Your password has been changed, please login again.</v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="redirectToHome()">Agree</v-btn>
                </v-card-actions>
            </v-card>
            </v-dialog>

        <Dialog
            ref="warningError"
            :dialogTitle="errorType === 1 ? 'Re-enter wrong password' : 'Cannot Empty'"
            :dialogContent="errorType === 1 ? 'Re-enter wrong password' : 'Cannot Empty'" />

    </v-container>
</template>

<script>
    import { mapActions } from "vuex"
    import Dialog from "../commons/Dialog"
    export default {
        components:{
            Dialog
        },
        data: () => ({
            newPassword1: "",
            newPassword2: "",
            token:"",
            dialogSuccess:false,
            errorType:0
        }),
        created() {
            this.token = this.$route.query.token
        },
        methods:{
            ...mapActions({
                resetPassword:"resetPassword"
            }),
            redirectToHome(){
                this.dialogSuccess = false,
                this.$router.push("/")
            },
            confirmResetPasswordAction(){
                if(this.newPassword1==="" || this.newPassword2===""){
                    this.$refs.warningError._data.dialog = true;
                    this.errorType = 0
                }
                else{
                    if(this.newPassword1 == this.newPassword2){
                        this.resetPassword({token:this.token, password:this.newPassword1})
                        .then(response=>{
                            if(response.status==200){
                                this.dialogSuccess = true
                            }
                        })
                    }
                    else{
                       this.$refs.warningError._data.dialog = true;
                       this.errorType = 1
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>