<template>
  <v-container fluid>
    <v-layout column>
      <v-card>
        <v-card-text>

          <v-text-field v-model="post.title" label="title" ></v-text-field>
          <v-text-field v-model="post.salary" label="salary" ></v-text-field>
          <v-text-field v-model="post.skills" label="skills" ></v-text-field>
          <v-switch
              v-model="post.is_ot"
              label="OT"
              color="info"
              value="is_ot"
              hide-details
          ></v-switch>
          <v-text-field v-model="post.min_salary" label="min_salary" ></v-text-field>
          <v-text-field v-model="post.max_salary" label="max_salary" ></v-text-field>
          <v-text-field v-model="post.time" label="time" ></v-text-field>
          <div class="editor">
    <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
      <div class="menubar">

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
        >
          <i class="fas fa-bold"></i>
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
        >
          <i class="fas fa-italic"></i>
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.strike() }"
          @click="commands.strike"
        >
          <i class="fas fa-strikethrough"></i>
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.underline() }"
          @click="commands.underline"
        >
          <i class="fas fa-underline" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.code() }"
          @click="commands.code"
        >
          <i class="fas fa-code" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.paragraph() }"
          @click="commands.paragraph"
        >
          <i class="fas fa-paragraph" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 1 }) }"
          @click="commands.heading({ level: 1 })"
        >
          H1
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 2 }) }"
          @click="commands.heading({ level: 2 })"
        >
          H2
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 3 }) }"
          @click="commands.heading({ level: 3 })"
        >
          H3
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.bullet_list() }"
          @click="commands.bullet_list"
        >
          <i class="fas fa-list-ul" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.ordered_list() }"
          @click="commands.ordered_list"
        >
          <i class="fas fa-list-ol" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.blockquote() }"
          @click="commands.blockquote"
        >
          <i class="fas fa-quote-right" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.code_block() }"
          @click="commands.code_block"
        >
          <i class="fas fa-square" />
        </button>

        <button
          class="menubar__button"
          @click="commands.horizontal_rule"
        >
          -
        </button>

        <button
          class="menubar__button"
          @click="commands.undo"
        >
          <i class="fas fa-undo" />
        </button>

        <button
          class="menubar__button"
          @click="commands.redo"
        >
          <i class="fas fa-underline" />
        </button>

      </div>
    </editor-menu-bar>

    <editor-content class="editor__content" :editor="editor" />
  </div>
          
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" :loading="loading" @click="saveUserInfo">
            <v-icon left dark>check</v-icon>Save changes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-layout>
  </v-container>
</template>

<style>
  .menubar__button {
    margin: 5px;
  }
  .editor__content > div {
    min-height: 200px;
  }
</style>
<script>
// import Icon from '../commons/Components/Icon'
import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
} from 'tiptap-extensions'
import { mapActions } from "vuex";
export default {
  pageTitle: "My Profile",
  components: {
    EditorContent,
    EditorMenuBar,
    // Icon,
  },
  data() {
    return {
      userInfo: {},
      editor: '',
      post: {
        title: "(Sr/Jr) Java Developer (Joining Bonus)",
        content:
          "The Job | Your Skills and Experience | Why You ll Love Working Here",  // maybe more field
        description: "The Job content with ...",
        salary: "700 - 1,500 USD", // select options
        skills: "Angular Javascript Java",
        is_ot: true,
        min_salary: 700,
        max_salary: 1000,
        time: "Monday - Friday", // select options
        author: {
          name: "Gin",
          age: 18
        },
        company: {
          company_name: "KMS Technology",
          address: "02 Tan Vien, ward 2 Tan Binh, Tan Binh, Ho Chi Minh",
          district: "Tan Binh",
          city: "Ho Chi Minh",
          introduction:
            "Agile, Innovative & Excellent Global Technology Company with deep roots in Vietnam",
          image:
            "https://cdn.itviec.com/employers/kms-technology/logo/w170/gjCnVTfqe1uPf7ypqStLf9TV/kms-technology-logo.png",
          contract_expiry_date: "01/01/2030",
          url_page: "https://www.kms-technology.com/"
        },
        isActive: true,
        expiry_date: "01/04/20",
        created_at: "18:00 21/03/20",
        updated_at: "19:00 21/03/20",
        custom_created_at: "5 days ago" // method
      },
    };
  },
  mounted() {
    this.editor = new Editor({
      extensions: [
        new Blockquote(),
        new BulletList(),
        new CodeBlock(),
        new HardBreak(),
        new Heading({ levels: [1, 2, 3] }),
        new HorizontalRule(),
        new ListItem(),
        new OrderedList(),
        new TodoItem(),
        new TodoList(),
        new Link(),
        new Bold(),
        new Code(),
        new Italic(),
        new Strike(),
        new Underline(),
        new History(),
      ],
      content: `
        ${this.post.content}
      `,
    })
  },
  beforeDestroy() {},
  created(){
    this.userInfo = this.$store.state.user
  },
  methods: {
    ...mapActions({
      changeAvatarUser: "changeAvatarUser",
      changeResumeUser: "changeResumeUser",
      saveUserInfo: "saveUserInfo"
    }),
    openAvatarPicker() {
      this.showAvatarPicker = true;
    },
  }
};
</script>