<template>
  <v-app >
    <v-content class="scroll-container">
      <router-view/>
    </v-content>
    <Footer/>
  </v-app>
</template>

<script>

import Footer from './commons/Footer'
export default {
  
  name: 'App',

  components: {
    Footer
  },

  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>
 
</style>
<style lang="scss">
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid"; // fas
@import "~@fortawesome/fontawesome-free/scss/regular"; // far
@import "~@fortawesome/fontawesome-free/scss/brands"; // fab
</style>